{% extends 'basemaster/masterstyle.html' %}
{% block contententry %}
<table>
<tr><td><a href="../AppMaster" class="current">Application Master</a></td></tr>
<tr><td><a href="../EnvMaster" class="current">Environment Master</a></td></tr>
<tr><td><a href="../UserMaster" class="current">User Master</a></td></tr>
<tr><td><a href="../TemplateMaster" class="current">Template Master</a></td></tr>
<tr><td><a href="../ServerMaster" class="current">Server Master</a></td></tr>
</table>	
{% endblock %}
        
    
    
